HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/user-service/.mvn/wrapper/maven-wrapper.jar
/event-service/.mvn/wrapper/maven-wrapper.properties
/file-storage/.mvn/wrapper/maven-wrapper.properties
/notification-service/.mvn/wrapper/maven-wrapper.properties
/user-service/.mvn/wrapper/maven-wrapper.properties
/event-service/mvnw
/file-storage/mvnw
/notification-service/mvnw
/event-service/mvnw.cmd
/file-storage/mvnw.cmd
/notification-service/mvnw.cmd
/notification-service/.mvn/wrapper/maven-wrapper.jar
/notification-service/.mvn/wrapper/maven-wrapper.jar
/events_system.log
/app/src/main/resources/Certificate.jks
/upload-dir/
